body{
    background-image: url(macbook.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: goldenrod;
}
.intro{
font-weight: 400;
font-size: 100px;
padding: 25px;
}

.icons-social a{
padding: 10px;
color: goldenrod;
align-self: center;
font-size: 50px;
}
